#include "style.h"
#include "shapes.h"

shapes ICON    shapes.ico

shapes MENU
BEGIN
    POPUP "Shape"
        BEGIN
            MENUITEM "Clear\t^C"    , IDDCLEAR
            MENUITEM "Ellipse\t^E"  , IDDELLIPSE
            MENUITEM "Rectangle\t^R", IDDRECT
            MENUITEM "Star\t^S"     , IDDSTAR
            MENUITEM "Triangle\t^T" , IDDTRIANGLE
        END
END

shapes ACCELERATORS
BEGIN
    "^C", IDDCLEAR
    "^E", IDDELLIPSE
    "^R", IDDRECT
    "^S", IDDSTAR
    "^T", IDDTRIANGLE
END


ABOUTBOX DIALOG 22, 17, 154, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Microsoft Windows"                   -1, 0,  5, 154, 8
    ICON  "shapes"                              -1,  9, 23,  0, 0
    CTEXT "Shapes application"                  -1,  0, 14,154, 8
    CTEXT "Version 1.03"                        -1, 30, 34, 94, 8
    CTEXT "Copyright © 1985,1986, Microsoft Corp."   -1,  0, 47,154, 9
    DEFPUSHBUTTON "Ok"                        IDOK, 61, 59, 32, 14, WS_GROUP
END


STRINGTABLE
BEGIN
    IDSNAME,    "Shapes"
    IDSABOUT,   "About..."
    IDSTITLE,   "Pick a Shape"
END
