#include "style.h"
#include "type.h"

TYPEICON  ICON    type.ico

STRINGTABLE
BEGIN
    IDSNAME,    "Type"
    IDSABOUT,   "About ..."
    IDSTITLE,   "Select this window and type"
END

ABOUTBOX DIALOG 22, 17, 154, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Microsoft Windows"                   -1,  0,  5, 154, 8
    ICON  "type"                                -1,  9, 23,  0, 0
    CTEXT "Type application"                    -1,  0, 14, 154, 8
    CTEXT "Version 1.03"                        -1, 30, 34, 94, 8
    CTEXT "Copyright © 1985,1986, Microsoft Corp."   -1,  0, 47,154, 9
    DEFPUSHBUTTON "Ok"                        IDOK, 61, 59, 32, 14, WS_GROUP
END
